.card {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.2);
}

.btn-space {
    margin-right: 5px;
}

.float-btn-con {
    position: relative;
}

.floating-btn {
    position: absolute;
    top: 0px;
    right: 0px;
}

.btn-reset {
    font-size: 0.8em !important;
}